<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>ログイン画面</title>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
</head>
<body>

<div>
    <h1>せつめい</h1>
    <ul>
        <li><a th:href="@{/login}">ログイン画面へのリンク</a>を押したら、ここにきます</li>
        <li>ログインしてなくてもアクセスできますね</li>
        <li>この画面にはログインフォームがあります</li>
        <li>この画面でログインしたら、トップ画面でログインした状態になります</li>
        <li>この画面でログインに失敗したら、この画面にエラーメッセージがでます</li>
        <li sec:authorize="isAuthenticated()" style="color:blue">今はログインしています</li>
        <li sec:authorize="!isAuthenticated()" style="color:red">今はログインしていません</li>
        <li>ログインせずに<a th:href="@{/page1}">ログインしなきゃ見れないページにアクセス</a>したら、ここにきます</li>
        <li>ログインせずに<a th:href="@{/page2}">ログインしなくても見れるページにアクセス</a>しても、ここにきません</li>
    </ul>
</div>

<div>
    <h1>操作</h1>
    <div th:if="${param.error}" style="color:red">
        ログインに失敗したよ
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username" value="user"/> </label></div>
        <div><label> Password: <input type="password" name="password" value="pass"/> </label></div>
        <div><input type="submit" value="ログイン"/></div>
    </form>
</div>

</body>
</html>
